*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orangered;
    padding: 20px;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid gray;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
nav ul{
    display: flex;
    gap: 15px;
}

nav ul li{
    list-style-type: none;
    color: white;
}
header .header-icons svg{
    fill: white;
    width:20px ;
}
.image-3{
    display: flex;
    justify-content:center;
    gap: 50px;
    width: calc(100/3);
}
.contenitore1 img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 600px;
    padding-top: 100px;
}
.contenitore1{
    position: relative;
}
.contenitore1 span{
    position: absolute;
    bottom: 480px;
    right: 0px;
    
   
}

.contenitore1 span svg{
    width: 40px;
}
.contenitore1 .sconto{
    position: absolute;
    background-color: red;
    color: white;
    bottom:80px;
    right: 300px;
    padding: 2px;
    
}

.contenitore1 .sostenibilita{
    position: absolute;
    background-color: green;
    color: white;
    bottom:80px;
    right: 205px;
    padding: 2px;
}

.contenitore1 .sconto1{
    position: absolute;
    background-color: red;
    color: white;
    bottom:80px;
    right: 300px;
    padding: 2px;
}

.contenitore1 .sostenibilita1{
    position: absolute;
    background-color: green;
    color: white;
    bottom:80px;
    right: 254px;
    padding: 2px;
}

.red{
    color:red ;
    font-size: large;

}
.testo-sconto{
    display: flex;
    gap: 10px;
}
.black{
    text-decoration: line-through;
    font-size: large;
    
}
.footer-container{
    display: flex;
    background-color: black;
    justify-content: space-around;
    gap: 230px;
    padding: 20px;
}
footer .footer-icons{
    display: flex;
    margin-top: 20px;
    color: white;
    gap: 10px;
}
footer .footer-icons svg{
    width: 20px;
}
footer .footer-icons li{
    list-style-type: none;
    margin-top: -9px;
}
h2{
    color: white;
    font-size: 20px;
}